{% extends 'book_management/base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="well">
                <div class="row">
                    <div class="form-group col-sm-4 col-md-3">
                        {{ form.title.label_tag }}
                        {% render_field form.title class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ form.authors.label_tag }}
                        {% render_field form.authors class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ form.published_date.label_tag }}
                        {% render_field form.published_date class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ form.isbn.label_tag }}
                        {% render_field form.isbn class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ form.page_count.label_tag }}
                        {% render_field form.page_count class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ form.small_thumbnail.label_tag }}
                        {% render_field form.small_thumbnail class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ form.language.label_tag }}
                        {% render_field form.language class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-block">
                    Add book
                </button>
                {% csrf_token %}
            </div>
        </form>
    </div>
</div>

{% if book %}

<table class="table table-bordered">{% csrf_token %}
    <thead>
    <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Publication date</th>
        <th>ISBN</th>
        <th>Page count</th>
        <th>Language</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><img src={{ book.small_thumbnail }} class="rounded mx-auto d-block" alt="Responsive image"></td>
        <td>{{ book.title }}</td>
        <td>{{ book.authors }}</td>
        <td>{{ book.published_date }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.page_count }}</td>
        <td>{{ book.language }}</td>
    </tr>
    </tbody>
</table>
{% endif %}

{% endblock %}